@font-face {
    font-family: 'Jackson Storm';
    src: url('../fonts/JacksonStorm-Black.eot');
    src: url('../fonts/JacksonStorm-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/JacksonStorm-Black.woff') format('woff'),
         url('../fonts/JacksonStorm-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Jackson Storm';
    src: url('../fonts/JacksonStorm-Light.eot');
    src: url('../fonts/JacksonStorm-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/JacksonStorm-Light.woff') format('woff'),
         url('../fonts/JacksonStorm-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Jackson Storm';
    src: local('Jackson Storm Medium'), local('JacksonStorm-Medium'),
         url('../fonts/JacksonStorm-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/JacksonStorm-Medium.woff2') format('woff2'),
         url('../fonts/JacksonStorm-Medium.woff') format('woff'),
         url('../fonts/JacksonStorm-Medium.ttf') format('truetype'),
         url('../fonts/JacksonStorm-Medium.svg#JacksonStorm-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Jackson Storm';
    src: url('../fonts/JacksonStorm-Regular.eot');
    src: url('../fonts/JacksonStorm-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/JacksonStorm-Regular.woff') format('woff'),
         url('../fonts/JacksonStorm-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Jackson Storm';
    src: url('../fonts/JacksonStorm-Thin.eot');
    src: url('../fonts/JacksonStorm-Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/JacksonStorm-Thin.woff') format('woff'),
         url('../fonts/JacksonStorm-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Jackson Storm';
    src: url('../fonts/JacksonStorm-Bold.eot');
    src: url('../fonts/JacksonStorm-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/JacksonStorm-Bold.woff') format('woff'),
         url('../fonts/JacksonStorm-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
